:root {
  --backgroundLinearGradient: linear-gradient(
    to bottom,
    rgba(22, 1, 78, 1),
    rgba(1, 10, 49, 1),
    rgba(0, 3, 23, 1)
  );

  --backgroundModalGradient: linear-gradient(
    180deg,
    rgba(22, 1, 78, 1) 0%,
    rgba(1, 10, 49, 1) 50%,
    rgba(0, 3, 23, 1) 100%
  );

  --blocksBackground: #22223b;

  --labelColor: rgba(255, 255, 255, 0.48);

  --background: var(--backgroundLinearGradient);
  --foreground: #ededed;

  --buttonBg: rgb(73, 41, 255);
  --buttonHoverBg: rgb(53, 21, 235);

  --accentColor: rgb(91, 97, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--backgroundLinearGradient);
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
